html{

  background:  	#8FBC8F;
  opacity: 1;
  height: 100%;
}
/*     此处为网页格式      */
#introduce{
  font-size: 125%;
  font-weight: 200;
  position: relative;
  top: 35px;
  left: 50px;  color: grey;
}
.nav{
  width: 940px;
  height: 80px;
  margin: 0 auto;

  border-bottom-style: solid;
  border-bottom-color: silver;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.search-box{
  position: absolute;
  left: 70%;
  top: 6%;
}
.input{
  height: 20px; background: none;  border: 1px solid #fff; border-radius: 4px;

}
.btn{ position:relative;    left: 5px; top: 5px;}
.content
{
    float: right;
    text-align: center;
}

.nav a{
  text-decoration: none;
  font-size: 125%;
}
.content ul li ul li a{
  text-decoration: none;
  font-size: 125%;
}
.nav ul li{
    float: left;
    margin: 20px;
    position: relative;
    right: 300px;
}
.nav ul li ul{  display: none;position: absolute;}

.nav ul li:hover ul{
  display: block;
  width: auto;
}
.nav ul li ul li{
  float: none;
}
/*       end        */

.container{

margin-top: 200px;
perspective:1000px;
}
.cube{

  height: 200px;
  width:  200px;
  position: relative;
   margin:auto;
  transform-style:preserve-3d;/*定义3d转换*/
  animation:rotate 10s infinite;
}
@keyframes rotate{
from{
}
to{
transform:   rotateX(360deg) rotateY(360deg) ;
}
}
.cube>div{
height: 100%;
width: 100%;
opacity: 1;
position: absolute;
text-align: center;
background: orange;
color:black;
line-height: 200px;
font-size: 30px;
border:1px solid #fff;
}
.plane-front{
transform:translateZ(100px);
}
.plane-back{
transform:translateZ(-100px);
}
.plane-left{
transform:rotateY(90deg) translateZ(-100px);
}
.plane-right{
transform:rotateY(90deg) translateZ(100px);
}
.plane-top{
transform:rotateX(90deg) translateZ(100px);
}
.plane-bottom{
transform:rotateX(90deg) translateZ(-100px);
}
